{% extends 'base.html.twig' %}

{% block title %}Hello ScanController!{% endblock %}

{% block body %}
    <div class="scan-container">
        {% include '_partials/_aside.html.twig' %}
        <!-- Main Content -->
        <main class="scan-content">
            <!-- Ping Section -->
            <section id="scanner-section" class="content-section active">
                <div class="section-header">
                    <h2 class="section-title">
                        <i class="bi bi-search me-2"></i>Scan
                    </h2>
                    <p class="section-description">
                        Testez les vulnérabilités de votre serveur ou web.
                    </p>
                </div>
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">{{ message }}</div>
                {% endfor %}
                {% for message in app.flashes('danger') %}
                    <div class="alert alert-danger">{{ message }}</div>
                {% endfor %}

                {% if output %}
                    <div class="results-content">
                        <h3>Résultat du Reconn :</h3>
                        <pre id="ping-output" class="ping-output">{{ output|e }}</pre>
                    </div>
                {% endif %}
            </section>
        </main>
    </div>
{% endblock %}
